---
layout: splash
header:
  overlay_color: "#4a69bd"  # 짙은 네이비 블루
  overlay_filter: "0.3"
  <!-- overlay_image: /assets/images/about/.png -->
  actions:
    - label: "Enter Site"
      url: "/about/lab/"
excerpt: "인하대학교 로봇 지능 학습 및 시스템 연구실"
feature_row:
  - image_path: /assets/images/home/rl.png
    alt: "Reinforcement Learning"
    title: "Reinforcement Learning"
    excerpt: "Robots imitating human actions using RL"
    url: "/about/research-area/#reinforcement-learning"
    btn_label: "Learn More"
    btn_class: "btn--primary"
  - image_path: /assets/images/home/vision.png
    alt: "Deep Learning Vision"
    title: "Deep Learning Vision"
    excerpt: "Robust and Efficient vision systems for robots"
    url: "/about/research-area/#deep-learning-vision"
    btn_label: "Learn More"
    btn_class: "btn--primary"
  - image_path: /assets/images/home/robot.png
    alt: "Robotics"
    title: "Robotics"
    excerpt: "Applying AI to real-world robotic systems"
    url: "/about/research-area/#robotics"
    btn_label: "Learn More"
    btn_class: "btn--primary"
---
<div class="notice--info">
  <h4>학부 연구생 및 석.박과정생 모집 중</h4>
  <p>모집 분야<br>
    - 컴퓨터비전 및 딥러닝 (Semantic Segmentation)<br>
    &nbsp;&nbsp;-- 프로젝트 참여 (무인예초, 수산부산물)<br>
    - 로봇틱스 모방학습 (Vision-Language-Action)<br>
    - 로봇틱스 오프라인 역강화학습 (Offline Inverse Reinforcement Learning)<br>
    <a href="https://wjahn.github.io/rils/about/join-us/">Learn more</a>
  </p>
</div>

{% include feature_row %}

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent News" }}</h3>

{% for post in site.posts limit:5 %}
  {% include archive-single.html %}
{% endfor %}

